<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PSAS FC Test Framework</title>
 </head>
 <body>
  <h1>PSAS FC Test Framework</h1>
  <hr />
  <p><a href="/mobile">Mobile Test Data Generator</a></p>
  <h3>FC Events</h3>
  <form method="post">
    <ul>
      {% for i, action in enumerate(actions) %}
        <li><button name="action" type="submit" value="{{ i }}">{{ action['action'] }}</button></li>
      {% end %}
    </ul>
  </form>
  <h3>Hardware Events</h3>
  <form method="post">
    <ul>
      {% for i, action in enumerate(events) %}
        <li><button name="event" type="submit" value="{{ i }}">{{ action['action'] }}</button></li>
      {% end %}
    </ul>
  </form>

 </body>
</html>
