<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSAS FC Test Framework</title>
 </head>
 <body>
  <div class="wrapper">
   <div id="header">
    <div class="container">
     <div class="row">
      <h1 class="col-lg-10 col-lg-offset-1">PSAS FC Test Framework</h1>
     </div>
    </div> 
   </div>
   <div id="content"><div class="container"><div class="row">
    <div class="col-lg-10 col-lg-offset-1">
     <p id="mesg"> </p>
     <p id="moAccel"> </p>
    </div>
   </div></div></div>
  </div>

   <script src="/static/js/test-data.js"></script>


 </body>
</html>
