<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    html, body { height: 100%; font-family: sans-serif; }
    h4 { text-align: center }
    #image { height: 100%; background: url('/static/diagram.svg') no-repeat top center; background-size: 100%;}
  </style>
  <title>PSAS FC Test Framework</title>
 </head>
 <body>
  <h4>PSAS FC Test Framework</h4>
  <p id="mesg"> </p>
  <p id="moAccel"> </p>
  <div id="image"> </div>
  <script src="/static/js/test-data.js">
  </script>
 </body>
</html>
