<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <title>PSAS FC Stack Control</title>
 </head>
 <body class="fc">
  <h1>PSAS FC Stack Control</h1>
  <hr />

    <h3>Rocket Net Hub:</h3>
    <div id="RNH">
     <div class="row">
      <ul class="top">
        <li class="col-sm-2"><div class="info col-sm-7"><span class="status">&otimes;</span><span class="port">8</span></div><div class="col-sm-5"><a class="btn btn-sm btn-block btn-warning" href="RNH/On8">ON</a><a class="btn btn-sm btn-block btn-default" href="RNH/off8">off</a></div></li>
        <li class="col-sm-2"><div class="info col-sm-7"><span class="status">&otimes;</span><span class="port">7</span></div><div class="col-sm-5"><a class="btn btn-sm btn-block btn-warning" href="RNH/On7">ON</a><a class="btn btn-sm btn-block btn-default" href="RNH/off7">off</a></div></li>
        <li class="col-sm-2"><div class="info col-sm-7"><span class="status">&otimes;</span><span class="port">6</span></div><div class="col-sm-5"><a class="btn btn-sm btn-block btn-warning" href="RNH/On6">ON</a><a class="btn btn-sm btn-block btn-default" href="RNH/off6">off</a></div></li>
        <li class="col-sm-2"><div class="info col-sm-12"><span class="port"> </span> UMB</div></li>
      </ul>
     </div>
    <div class="row">
      <div class="center col-sm-6 col-sm-offset-3">
        <a class="btn btn-sm btn-block btn-default" href="">Get Status</a>
      </div>
    </div>
    <div class="row">
      <ul class="top">
        <li class="col-sm-2"><div class="info col-sm-7"><span class="status">&otimes;</span><span class="port">1</span> FC</div><div class="col-sm-5"><a class="btn btn-sm btn-block btn-warning" href="RNH/On1">ON</a><a class="btn btn-sm btn-block btn-default" href="RNH/off1">off</a></div></li>
        <li class="col-sm-2"><div class="info col-sm-7"><span class="status">&otimes;</span><span class="port">2</span> IMU</div><div class="col-sm-5"><a class="btn btn-sm btn-block btn-warning" href="RNH/On2">ON</a><a class="btn btn-sm btn-block btn-default" href="RNH/off2">off</a></div></li>
        <li class="col-sm-2"><div class="info col-sm-7"><span class="status">&otimes;</span><span class="port">3</span></div><div class="col-sm-5"><a class="btn btn-sm btn-block btn-warning" href="RNH/On3">ON</a><a class="btn btn-sm btn-block btn-default" href="RNH/off3">off</a></div></li>
        <li class="col-sm-2"><div class="info col-sm-7"><span class="status">&otimes;</span><span class="port">4</span></div><div class="col-sm-5"><a class="btn btn-sm btn-block btn-warning" href="RNH/On4">ON</a><a class="btn btn-sm btn-block btn-default" href="RNH/off4">off</a></div></li>
      </ul>
     </div>
    </div>

    <div id="commands">
    {% for section in sections %}
        <div class="row">
         <h3>{{ section['name'] }}</h3>
         <ul>
            {% for command in section['def']['command-list'] %}
                <li class="col-sm-2"><a class="btn btn-sm btn-block btn-{{ section['def']['commands'][command]['btn'] }}" href="{{ section['type'] }}/{{ command }}">{{ section['def']['commands'][command]['name'] }}</a></li>
            {% end %}
         </ul>
        </div>
    {% end %}
    </div>

 </body>
</html>
