<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <title>PSAS FC Stack Test</title>
 </head>
 <body>
  <h1>PSAS FC Stack Test</h1>
  <hr />
  <div id="commands" class="col-sm-3">

    {% for section in sections %}
        <h3>{{ section['name'] }}</h3>
        <ul>
            {% for command in section['def']['command-list'] %}
                <li><a class="btn btn-sm btn-block btn-{{ section['def']['commands'][command]['btn'] }}" href="{{ section['type'] }}/{{ command }}">{{ section['def']['commands'][command]['name'] }}</a></li>
            {% end %}
        </ul>
    {% end %}

  </div>
 </body>
</html>
